.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.container {
  background-color: black;
  width: 850px;
  height: 550px;
  border-radius: 20px;
  box-shadow: 2px 2px 20px black;
  padding: 2px;
  border: 1px solid black;
}
#map {
  outline: none;
  border-radius: 20px;
  width: 850px;
  height: 550px;
}
#map:active {
  outline: none;
}
#map:focus {
  outline: none;
}

.popup {
  max-width: 300px;
  width: 60%;
  height: 300px;
  display: none;
  box-shadow: 2px 2px 2px #999999;
  border-radius: 20px;
  background-color: #c0e8ff;
  margin-left: 50px;
  transition: ease 500ms;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.popupAnim {
  transition: 500ms ease;
}
.navigate {
  border-radius: 20px;
  padding: 2px;
}
