.main {
 min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.container {
  background-color: black;
  width: 800px;
  height: 500px;
  border-radius: 20px;
  box-shadow: 2px 2px 20px black;
  padding: 2px;
  border: 1px solid black;
}
#map {
  outline: none;
  border-radius: 20px;
  width: 800px;
  height: 500px;
}
#map:active {
  outline: none;
}
#map:focus {
  outline: none;
}

.popup{
  max-width: 300px;
  width: 60%;
  height: 30;
  display: none;
  box-shadow: 2px 2px 2px #999;
  background-color: #888;
}
